// .masthead {
//   position: fixed;
//   top: 0;
//   width: 100%;
//   z-index: 20; /* Ensure it stays on top of other content */
// }

// /* Add padding to the top of the content to make room for the fixed masthead */
// .masthead + .initial-content,
// .masthead + .page__content {
//   padding-top: 4em; /* Adjust this value as needed to match your navbar's height */
// }   

// .masthead__inner-wrap,
// .site-nav.greedy-nav {
//   background-color: transparent !important; /* Makes the background fully transparent */
// }