---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "custom/variables";
@import "minimal-mistakes"; // main partials

.masthead {
  position: sticky; /* Changed from 'sticky' to 'fixed' */
  top: 0;
  z-index: 20; 
  background-color: #003152;
  border: none;
  box-shadow: none;
}

.masthead-wrapper,
#site-nav.greedy-nav {
  background-color: transparent;
}

.site-nav a, #site-nav.greedy-nav a {
  color: #fff !important;
}

.site-nav a:hover, #site-nav.greedy-nav a:hover {
  color: #ccc !important;
}

.site-nav a:hover,
.site-nav .active a,
#site-nav.greedy-nav a:hover,
#site-nav.greedy-nav .active a {
  box-shadow: none !important;
  border-bottom: none !important;
  color: #ccc !important; /* Set your link color here */
}

/* Fallback for ::after pseudo-elements */
.site-nav a:hover::after,
.site-nav .active a::after {
  background-color: transparent !important;
}